{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-5 signup_box">
        <h2>Comment</h2>
          <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6 mb-0">
                {{ comment_form.text |as_crispy_field }}
              </div>
             
</div>
<input type="submit" value="Envoyer" class="btn btn-primary">
          </form>
{% endblock %}
        

    
  </div>
</body>
</html>